html {
  background-color: rgba(255, 99, 71, 0.5);
  /*Trying to keep text more accessible.*/
  font-size: 1em;
  font-family: Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  position: fixed;

  /*Structuring*/
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  justify-content: space-between;

  /*Coloring*/
  background-color: rgba(36, 21, 18, 1);
  color: rgba(255, 255, 255, 1);

  /*Sizing*/
  height: 4em;
}

main {
  margin: 5em 2em 5em auto;
  height: 100%;
}

footer {
  position: fixed;

  /*Structuring*/
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;

  /*Coloring*/
  background-color: rgba(36, 21, 18, 1);
  color: rgba(255, 255, 255, 1);

  /*Sizing*/
  height: 4em;
}

/*Image Section*/

/*Images specifically in sections, such found in about and portfolio*/
section > img {
  height: 8em;
  width: 8em;
}
/*Image on the main page of the person*/
#profilePicture {
  height: 9em;
  width: 9em;
}

/*Button things*/
button {
  background-color: rgba(255, 99, 71, 0.5);
  color: white;
  cursor: pointer;
}

/*Main page text*/
#motto {
  font-weight: bold;
  font-size: 2em;
}

#shortDescription {
  font-size: 1.5em;
}

#inspirationalText {
  font-style: italic;
  font-size: 2em;
}

section > h3 {
  font-weight: bold;
}

/* Portfolio + AboutMe page */
section > h3 {
  text-align: center;
}

/* Left-align */
.hobby {
  text-align: left;
}
.hobby > img {
  float: left;
  padding-right: 1em;
}

.project:nth-child(2) {
  text-align: left !important;
}
.project:nth-child(2) > img {
  float: left !important;
  padding-right: 1em;
}

/* Right-align */
.hobby:nth-child(2) {
  text-align: right !important;
}

.hobby:nth-child(2) > img {
  float: right !important;
  padding-left: 1em;
}

.project {
  text-align: right;
}

.project > img {
  float: right;
  padding-left: 1em;
}

/* Success Page */
#success {
  text-align: center;
  justify-content: center;
  height: 100%;
}
